body {
    height: 100vh;
    margin: 0;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    grid-template-columns: max-content 1fr;
    font-size: 12px;
}

body > * {
    border: 1px solid black;
}

.header, .footer {
    grid-column: 1 / 3;
}

.sidebar {
    grid-column: 1;
}

.addButton {
    margin-top: 3rem;
}


.content {
    grid-column: 2;
}

.content .addButton {
    margin-top: 3rem;
}

.footer {
    text-align: center;
}