html {
    --icons-filter-value: invert(100%) sepia(0%) saturate(0%) hue-rotate(188deg) brightness(102%) contrast(105%);
    --outer-padding-value: 2rem;
    --margin-value: 2rem;
    --add-button-background: rgb(99, 168, 99);
    /* --header-background: rgb(223, 168, 101); */
    --header-background: rgba(227, 157, 70, 0.85);
    --low-priority-bg: rgba(169, 241, 169, 0.699);
    --medium-priority-bg: rgb(235, 235, 134);
    --high-priority-bg: rgb(252, 133, 133);
    /* --header-background: #65A30D; */
    /* --header-background: #FDBA74;
    --add-button-background: #FB923C; */
}

body {
    height: 100vh;
    margin: 0;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    grid-template-columns: 300px 1fr;
    font-size: 12px;
    font-family: sans-serif, serif;
}

.header, .footer {
    grid-column: 1 / 3;
}

.footer { 
    padding: 1.2rem;
    font-size: 1rem;
    background-color: rgb(218, 214, 214);
    text-align: center;
 }

.header {
    font-size: 2rem;
    font-weight: bold;
    padding: 1.5rem var(--outer-padding-value);
    color: white;
    background-color: var(--header-background);
}

.sidebar {
    grid-column: 1;
    padding: var(--outer-padding-value);
    background-color:#f9e1b391;
}

.currents {
    display: grid;
    grid-template-rows: auto auto;
    row-gap: 1rem;
}

.sidebar .currents > div {
    font-size: 1.1rem;
    padding: 0.5rem 0.3rem;
    border-radius: 0.2rem;
}

.sidebar .currents div:last-child {
    margin-bottom: 1rem;
}

.sidebar .projects {
    font-weight: bold;
    font-size: 1.2rem;
}

.sidebar .projects div {
    font-size: 1.1rem;
    font-weight: normal;
    display: grid;
    grid-template-columns: 1fr min-content;
    column-gap: 0.4rem;
    word-break: break-all;
    align-items: center;
    margin-bottom: 1rem;
    padding: 0.3rem 0.3rem;
    border-radius: 0.2rem;
}

.sidebar .projects div:hover,
.sidebar .currents div:hover {
    transform: scale(1.02);
    cursor: pointer;
    background-color: rgba(199, 199, 199, 0.836);
}

.sidebar .projects div:active,
.sidebar .currents div:active {
    transform: scale(1);
}

.projects div:first-child {
    margin-top: 1rem;
}

.addButton,
.sidebar .addProjectForm {
    margin-top: 3rem;
}

.sidebar .projects .deleteProjectButton {
    width: 2rem;
}

.sidebar .addButton {
    font-size: 1.1rem;
    font-weight: bold;
    color: white;
    background-color: var(--add-button-background);
    padding: 0.8rem 0.5rem;
    border-radius: 0.2rem;
}

.sidebar .addButton > div {
    display: grid;
    grid-template-columns: min-content max-content;
    justify-content: space-around;
}

.sidebar .addButton img {
    filter: var(--icons-filter-value);
}

.sidebar .addButton:active {
    transform: scale(0.95);
}

.sidebar .addProjectForm {
    display: grid;
    grid-template-rows: min-content min-content;
}

.sidebar .addProjectForm input {
    width: 100%;
    font-size: 1rem;
    height: 1.8rem;
    border-style: none;
    background-color: rgb(189, 223, 189);
    margin-bottom: 0.5rem;
    border-radius: 0.2rem;
    padding-left: 0.5rem;
    justify-self: center;

}

.sidebar .addProjectForm .buttons {
    display: flex;
}

.sidebar .addProjectForm .buttons > * {
    flex: 1 1 0;
    padding: 0.3rem 0.2rem;
    font-size: 1rem;
    color: rgb(87, 87, 87);
}


.content {
    grid-column: 2;
    padding: var(--outer-padding-value);
    overflow-y: scroll;
}

.content .addItemForm {
    width: clamp(500px, 50vw, 720px);
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1rem;
    background-color: white;
    border: 2px solid black;
    border-radius: 1rem;
    box-sizing: border-box;
    z-index: 10;
    font: inherit;
}

.content #overlay {
    position: fixed;
    background-color: rgba(0,0,0,0.6);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 5;
    opacity: 0;
    pointer-events: none;
    transition: 50ms ease-in-out;
}

#overlay.active {
    pointer-events: all;
    opacity: 1;
}


.addItemForm {
    font: inherit;
}

.addItemForm .row {
    margin: 1rem 0;
}

.addItemForm textarea#desc {
    resize: vertical;
    min-height: 60px;
    max-height: 300px;
}

.addItemForm .row:nth-child(-n+2) label {
    display: none;
}

.addItemForm .row input,
.addItemForm .row textarea {
    width: 90%;
    height: 1.3rem;
    border-style: none;
    border: 1px solid lightgray;
    border-radius: 0.5rem;
}

.addItemForm .row:nth-child(3) input {
    width: max-content;
}

.addItemForm label[for="date"], 
.radioLabel {
    font-size: 1.2rem;
    font-weight: bold;
    color: rgb(75, 105, 105);
}

.addItemForm .row:nth-child(3) {
    display: flex;
    align-items: center;
}

.priorityRow {
    display: flex;
    align-items: center;
    margin-left: 2rem;
}

.content .addButton {
    margin-top: 3rem;
    padding: 1rem;
    width: 2rem;
    background-color: var(--add-button-background);
    color: white;
    font-weight: bold;
    text-align: center;
    border-radius: 20%;

}

.content .addButton img {
    filter: var(--icons-filter-value);
}

.content .addButton:hover {
    cursor: pointer;
    transform: scale(1.03);
}

.content .projectTitle {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.toDos {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.toDos > div {
    display: grid;
    grid-template-rows: auto auto;
    min-width: max-content;
    padding: 0.8rem 0.4rem;
    border-radius: 0.5rem;
    max-width: 800px;
}

/* style each toDo item */
.toDos > div > div:first-child {
    display: flex;
    column-gap: 20px;
    align-items: center;
}

.low {
    background-color: var(--low-priority-bg);
}

.medium {
    background-color: var(--medium-priority-bg);
}

.high {
    background-color: var(--high-priority-bg);
}

.toDos > div {
    font-size: 1.1rem;
}

.toDos > div .title {
    flex: 1;
    max-width: 500px;
}

.toDos > div .title:hover {
    cursor: pointer;
}

.toDos > div img {
    width: 2rem;
}

.toDos > div img:hover {
    cursor: pointer;
    transform: scale(1.3);
}

.toDos > div .edit:active,
.toDos > div .delete:active {
    transform: scale(0.95);
}

.toDos > div .desc {
    margin-left: 2.5rem;
    color: darkslategray;
    font-size: 0.9rem;
    max-width: 600px;
}